/* styles.css */

.background-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  overflow: hidden;
}

/*.background-container::before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  filter: brightness(50%); !* Darkens the background image *!*/
/*}*/

.background-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 69, 19, 0.1); /* Light brown overlay with 50% opacity */
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  /* Additional styles for your content */
}

.equal-height-grid {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

.equal-height-grid > * {
    display: flex;
    flex: 1 0 100%;
}

.equal-height-grid .service-card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
